*~
/build/CMakeFiles/
/build/bin/
/build/libhoflow.a
/build/libhoflow.so
/build/hoflow_d.exe
/build/hoflow.exe
/build/cmake_install.cmake
/build/Makefile
/build/CMakeCache.txt
doc/html/
doc/latex/
core
